<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Contato</title>
    <style>
        *{
            margin : none;
        }
        body{
            background-color: #333;
            color: #ffffff;
        }
        ul{
            list-style:none
        }
    </style>
</head>
<body>
    <h1>Contato</h1><hr />
    <ul>
        <li>Nome: Wesllei Garcia</li>
        <li>Email: wesllei.garcia@gmail.com</li>
        <li>Telefone (92) 99380-5887</li>
    </ul>
</body>
</html>
